# 本地服务
WORKBENCH_HOST=127.0.0.1
WORKBENCH_PORT=17755
CDR_UPSTREAM=http://127.0.0.1:8000

# SSH / SFTP / HDFS
SSH_HOST=
SSH_PORT=22
SSH_USERNAME=
SSH_PASSWORD=

# MySQL / UDAL
UDAL_HOST=10.11.4.157
UDAL_PORT=8901
UDAL_USERNAME=cnosapptest
UDAL_PASSWORD=
UDAL_DATABASES=CRM3DB,CONFIGDB_CNOS_JF_TEST

# Doris
DORIS_HOST=10.11.3.86
DORIS_PORT=9030
DORIS_USERNAME=cnosjf_test
DORIS_PASSWORD=
DORIS_DATABASE=
