CLIENT_BIND=127.0.0.1
CLIENT_PORT=17880
SERVICE_TOKEN=
REQUEST_TIMEOUT_MS=120000
LIST_CACHE_MS=30000

CORE_SITE=/etc/hadoop/conf/core-site.xml
HDFS_SITE=/etc/hadoop/conf/hdfs-site.xml
HBASE_SITE=/etc/hbase/conf/hbase-site.xml
KRB5_CONF=/etc/krb5.conf
KERBEROS_PRINCIPAL=
KERBEROS_KEYTAB=

